.face-verification {
    max-width: 800px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .face-verification h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .input-group {
    margin-bottom: 20px;
    flex: 1;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .webcam-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
  }
  
  .webcam {
    width: 100%;
    height: auto;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .image-preview {
    margin-top: 20px;
  }
  
  .captured-face {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit {
    background-color: #28a745;
  }
  
  .submit:hover {
    background-color: #218838;
  }
  